@import url("../../styles/globals.css");

.notetab_container {
  /* background: blanchedalmond; */
  height: 77vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  position: relative;
}
.notetab_container::-webkit-scrollbar {
  width: 2px;
}
.list_text {
  width: 300px;
  overflow: hidden;
}
.notetab_container::-webkit-scrollbar-thumb {
  background-color: var(--accent);

  border-radius: 4px;
}
.notetab_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.notetab_container::-webkit-scrollbar-track {
  background-color: var(--color-extra);
}
.notetab_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addnote_label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--accent);
  color: var(--text-color-dark);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  padding: 0.2rem 0.75rem;
  transition: all 0.3 ease-in;
}
.addnote_label:hover {
  opacity: 0.8;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
}
.addNote_icon {
  width: 22px;
  height: 22px;
  padding-top: 0.5rem;
}
/* .addNote_icon:hover {
  scale: 1.09;
  color: var(--accent);
}
.addNote_icon:active {
  opacity: 0.7;
} */

/*  */
@media (max-width: 728px) {
  .addNote_icon {
    width: 20px;
    height: 20px;
  }
}

/*  */
/* @media (max-width: 768px) {
  .notetab_container {
    height: auto;
  }
} */
